
@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Maak</title>
</head>
<body>
    <h1>Je hebt een band toegevoegd</h1>
    <table>
        <tr>
            <th>Naam</th>
            <th>@ViewBag.band.Naam</th>
        </tr>
        <tr>
            <td>Jaar</td>
            <td>@ViewBag.band.Jaar</td>
        </tr>
    </table>
</body>
</html>
